// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$dark-red: #7f0000;
$bright-red: #ff4400;
$maroon: #A1002E;
$greyish-white: #E9E9E9;
$moss-green: #88B55B;
$ligh-off-white: #FEF1D5;
$gold: #DAB800;
$yellow-gold: #ecc900;
