  <!-- Foto de usuário (opcional) -->
  <div class="user-photo">
    <%= image_tag "user-placeholder.jpg", class: "user-image", alt: "User Photo" %>
  </div>

  <!-- Container estilizado -->
  <div class="styled-container">
    <h1>Onde vamos?</h1>
    <button class="search-button"><%= link_to "Bora", new_ride_path %></button>
  </div>
