<h1>Show</h1>

<div data-controller="map" id="map" class="map" data-map-origin-value="<%= @origin.to_json %>" data-map-destination-value="<%= @destination.to_json %>" data-map-key-value="<%= ENV["MAPS_KEY"] %>"></div>

